extends ../layout
include ../mixins/tareaForm
block contenido
    .header.bg-primary.mb-5
        h1.display-5.text-white.text-center=proyecto.nombre
    .content.contenido-principal.container
        if errors
           .errors-container
                each val in errors
                    .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                        span.alert-icon
                            i.fa.fa-times-circle
                        span.alert-text
                            strong Alerta |  #{val.texto}
                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                            span(aria-hidden="true") ×

        .row.justify-content-center
            .col-md-5
                .proyecto-detail.bg-info.p-3.rounded.mb-3
                    .row.title-proyect
                        .col-4.title-name
                            b Proyecto
                        .col-8.name=proyecto.nombre
                    .row
                        .col-4.proyect-description
                            b Descripción
                        .col-8.description=proyecto.descripcion
                    .row
                        .col-6.start-date
                            table.table
                                thead
                                    tr
                                        th(scope="col") Fecha de inicio
                                tbody
                                    tr
                                        td=proyecto.startDate
                        .col-6.end-date
                            table.table
                                thead
                                    tr
                                        th(scope="col") Fecha de inicio
                                tbody
                                    tr
                                        td=proyecto.endDate
            .col-md-7
                .form.card.bg-primary
                    .card-header.p-1.bg-transparent
                        h3.display-3.text-center.text-white.mb-0 Nueva tarea
                    .card-body    
                        form(action='/nueva-tarea/'+proyecto.url method="POST" id="nueva-tarea").row
                            .col-10
                                div(class="mb-0 form-group")
                                    input(class="form-control form-control-alternative" type="text" placeholder="Nueva tarea aqui" id="tarea" name="nuevaTarea" )
                                    input(type="hidden", name="porcentaje" id="porcentaje" value="0")
                                    input(type="hidden", name="completado" id="completado" value="0")
                            .col-2
                                .form-row.justify-content-center
                                    button.btn.btn-success.btn-lg.btn-block(type="Submit") 
                                        i.ni.ni-button-play
                h3.display-3.text-center.mt-3 Lista de tareas
                .task-list
                    if alltareasbyProyecto.length==0
                       h3.display-4.text-center.mt-3.text-success No hay tareas pendientes
                    else
                        each tareasbyProyecto in alltareasbyProyecto
                            +editarTarea(tareasbyProyecto)
                            
                              
                   
                   
                    
        .row.justify-content-center.mt-6
          .col-md-4
            a.btn.btn-block.btn-warning.mb-3(href="/editar-proyecto/"+proyecto.id) Editar Proyecto
          .col-md-4
            button.btn.btn-block.btn-danger.mb-3(type="button",id="delete-work", data-work-target=proyecto.id) Borrar Proyecto
            
  
        .container.container-back.pd-6
            a(href="/" class="regresar")
                i.fa.fa-chevron-left
                span  Regresar